@import "@material/button/mdc-button";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

body {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0;
    background-color: #ffffff;
}